__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/
.venv/
venv/
env/
.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
*.nbc
*.nbi
.numba_cache/
